# Basic Python 1
## Variables

In [189]:
text = "halo"
bulat = 6
pecah = 5.5
multi = [4,5,"halo"]

In [190]:
print(text)

halo

In [191]:
print(bulat)

6

In [192]:
print(pecah)

5.5

In [193]:
print(multi)

[4, 5, 'halo']

In [194]:
nama = "Rizki"
print(text + " " + nama)

halo Rizki

In [195]:
print("{}, selamat datang, {}".format(text,nama))

halo, selamat datang, Rizki

### Mengisi beberpa variabel

In [196]:
var1,var2,var3 = 3,5,"Rizki"
print(var1,var2,var3)

3 5 Rizki

In [197]:
var1=var2=var3 = 10
print(var1,var2,var3)

10 10 10

### operator aritmatika

In [198]:
5 + 20

25

In [199]:
var1 = 10
var2 = 3
hasil = var1 + var2
print(hasil)

13

In [200]:
hasil_pengurangan = var1 - var2
hasil_perkalian = var1 * var2
hasil_pembagian = var1 / var2
hasil_pembagian2 = var1 // var2
print(hasil_pengurangan,hasil_perkalian,hasil_pembagian, \
hasil_pembagian2)

7 30 3.3333333333333335 3

### update variabel

In [201]:
var1 = 10
var1+=10
print(var1)

20

In [202]:
var1 = 10
var1*=10
print(var1)

100

In [203]:
var1 = 10
var1/=10
print(var1)

1.0

In [204]:
var1 =3
var1%=2
print(var1)

1

# Basic Python 2
## List

In [205]:
Reptile = ["Iguana","Turtle","Snake"]
print(Reptile)

['Iguana', 'Turtle', 'Snake']

In [206]:
type(Reptile)

list

In [207]:
len(Reptile)

3

In [208]:
print(Reptile[0])

Iguana

In [209]:
print(Reptile[2])

Snake

### Modified list

In [210]:
Reptile[2] = "Cobra"

In [211]:
print(Reptile)

['Iguana', 'Turtle', 'Cobra']

In [212]:
Reptile.remove(Reptile[1])

In [213]:
print(Reptile)

['Iguana', 'Cobra']

In [214]:
Reptile.append("Anaconda")

In [215]:
print(Reptile)

['Iguana', 'Cobra', 'Anaconda']

## Tuples

In [216]:
ReptileTuple = ("Iguana","Turtle","Snake","Cobra")

In [217]:
type(ReptileTuple)

tuple

In [218]:
len(ReptileTuple)

4

In [221]:
print(ReptileTuple[0])

Iguana

Tuples are immutable lists. They cannot be changed.

In [222]:
ReptileTuple[2] = "Cobra"

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [223]:
Animal = {"Reptile":["Iguana","Turtle","Snake","Cobra"],
		  "Amphibian":["Salamander","Lizard","Gecko"]}

In [224]:
type(Animal)

dict

In [225]:
len(Animal)

2

In [226]:
len(Animal["Reptile"])

4

In [227]:
len(Animal["Amphibian"])

3

In [228]:
print(Animal["Reptile"][2])

Snake

In [229]:
print(Animal["Amphibian"][0])

Salamander

### Modified Dictionary

In [230]:
Animal["Reptile"][2] = "Serpent"

In [231]:
print(Animal["Reptile"])

['Iguana', 'Turtle', 'Serpent', 'Cobra']

In [232]:
print(Animal)

{'Reptile': ['Iguana', 'Turtle', 'Serpent', 'Cobra'], 'Amphibian': ['Salamander', 'Lizard', 'Gecko']}

In [233]:
Animal["Amphibian"].remove("Salamander")

In [234]:
print(Animal)

{'Reptile': ['Iguana', 'Turtle', 'Serpent', 'Cobra'], 'Amphibian': ['Lizard', 'Gecko']}

In [235]:
len(Animal["Amphibian"])

2

In [236]:
Animal["Amphibian"].append("Frog")

In [237]:
print(Animal["Amphibian"])

['Lizard', 'Gecko', 'Frog']

In [238]:
Animal["Avian"] = ["Penguin","Ostrich","Bird"]

In [239]:
print(Animal)

{'Reptile': ['Iguana', 'Turtle', 'Serpent', 'Cobra'], 'Amphibian': ['Lizard', 'Gecko', 'Frog'], 'Avian': ['Penguin', 'Ostrich', 'Bird']}

In [240]:
len(Animal)

3

# Basic Python 3

## Conditionals

### If

In [ ]:
input1 = input("Masukkan nilai: ")
if int(input1) > 0:
	print("Positive")
elif int(input1) < 0:
	print("Negative")
else:
	print("Zero")

In [ ]:
input2 = str(input("Username(3-5 Character): "))
if len(input2) >= 3 and len(input2) <= 5:
	print("Username OK")
else:
	print("Username Salah")

In [ ]:
input3 = str(input("Choose A or B: "))
if input3 == "A":
	input4=str(input("Masukkan Angka(1-3): "))
	if int(input4) == 1:
		print(input3+str(input4)+" = Hadiah 1")
	elif int(input4) == 2:
		print(input3+str(input4)+" = Hadiah 2")
	elif int(input4) == 3:
		print(input3+str(input4)+" = Hadiah 3")
	else:
		print("Salah")
elif input3 == "B":
	input4=str(input("Masukkan Angka(1-3): "))
	if int(input4) == 1:
		print(input3+str(input4)+" = Hadiah 4")
	elif int(input4) == 2:
		print(input3+str(input4)+" = Hadiah 5")
	elif int(input4) == 3:
		print(input3+str(input4)+" = Hadiah 6")
	else:
		print("Salah")

### While(Uncounted loop)

In [ ]:
v1 = 0
while v1 < 4:
	print(v1)
	v1+=1

In [ ]:
v2 = 0
while True:
	print(v2)
	v2+=1
	if v2 == 5:
		break
print("Selesai")

In [ ]:
v3 = 4
while v3 > 0:
	print(v3)
	v3-=1

### For (Counted Loop)

In [ ]:
for i in range(0,5):
	print(i)

In [ ]:
for i in range(1,6):
	print(i)

In [ ]:
Reptile=["Iguana","Turtle","Snake","Cobra"]
for i in Reptile:
	print(i)

In [ ]:
for i in range(0,len(Reptile)):
	print(Reptile[i])

In [ ]:
for i in range(len(Reptile)):
	Reptile[i] = str(input("Masukkan nama hewan " +str(i))+" : ")

In [ ]:
print(Reptile)

## Basic Python 4

### Functions

#### Fungsi Umum

In [ ]:
def f(x):
	print(x+3)

In [ ]:
f(5)

In [ ]:
y=f(3)

In [ ]:
print(y)

In [ ]:
def f(x):
	return x+3

In [ ]:
y = f(3)

In [ ]:
print(y)

In [ ]:
f(3)

In [ ]:
def kecepatan(jarak,waktu):
	return jarak/waktu

In [ ]:
jarak_ke_mall = 100 
waktu_ke_mall = 10
kece=kecepatan(jarak_ke_mall,waktu_ke_mall)
print(kece)

In [ ]:
kecepatan(10,3)

#### Fungsi Defaults

In [241]:
def luas_bola(r,pi=3.14):
	return pi*r**2

In [242]:
luas_bola(5)

78.5

In [243]:
L=luas_bola(5,22/7)

In [244]:
print(L)

78.57142857142857

In [245]:
luas_bola(5)

78.5

In [246]:
def peserta(Nama,Sekolah="SMA"):
	print("Nama: "+Nama)
	print("Sekolah: "+Sekolah)

In [247]:
peserta("Rizki")

Nama: Rizki
Sekolah: SMA

In [248]:
peserta("Rizki","SMA 2")

Nama: Rizki
Sekolah: SMA 2

#### Fungsi Lambda

In [249]:
lambda r : 4*3.14*r**2

In [250]:
fungsi1 = lambda r : 4*3.14*r**2

In [251]:
fungsi1(5)

314.0

In [252]:
(lambda r: 4*3.14*r**2)(5)

314.0

In [253]:
(lambda r,pi : 4*pi*r**2)(5,3.14)

314.0

## PANDAS

In [254]:
import pandas as pd

In [255]:
Reptile = ["Turtle","Snake","Crocodile","Lizard","Gecko"]
ds=pd.Series(Reptile)

In [256]:
ds

0       Turtle
1        Snake
2    Crocodile
3       Lizard
4        Gecko
dtype: object

In [257]:
type(ds)

pandas.core.series.Series

In [258]:
ds = pd.Series(Reptile, index=["a","b","c","d","e"])
ds

a       Turtle
b        Snake
c    Crocodile
d       Lizard
e        Gecko
dtype: object

In [259]:
ds.values

array(['Turtle', 'Snake', 'Crocodile', 'Lizard', 'Gecko'], dtype=object)

In [260]:
ds.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [261]:
ds[0]

'Turtle'

In [262]:
ds['a']

'Turtle'

In [263]:
ds[0]==ds['a']

True

In [264]:
ds[0:2]

a    Turtle
b     Snake
dtype: object

In [265]:
ds[0:3]

a       Turtle
b        Snake
c    Crocodile
dtype: object

In [266]:
ds[["a","b","c"]]

a       Turtle
b        Snake
c    Crocodile
dtype: object

In [267]:
ds[-1]

'Gecko'

### Dictionary

In [268]:
var2 = {"Name" : "Rizki",
		"Umur" : "20", 
		"Alamat" : "Jl. Kebon Kacang",}

In [269]:
type(var2)

dict

In [270]:
cv=pd.Series(var2)

In [271]:
cv

Name                 Rizki
Umur                    20
Alamat    Jl. Kebon Kacang
dtype: object

In [272]:
cv.index

Index(['Name', 'Umur', 'Alamat'], dtype='object')

In [273]:
cv.values

array(['Rizki', '20', 'Jl. Kebon Kacang'], dtype=object)

In [274]:
cv["Name"]

'Rizki'

In [ ]:
print("Change Identity")
for i in cv.index:
	print(i,end=" = ")
	cv[i] = str(input())

In [275]:
cv

Name                 Rizki
Umur                    20
Alamat    Jl. Kebon Kacang
dtype: object

### Dataframe

In [146]:
Snake = {"Name" : ["Anaconda","Python","Cobra","Serpent"], 
		"Length" : [1.0,1.5,1.0,1.5],
		"Weight" : [0.1,0.1,0.1,0.1],}

In [147]:
type(Snake)

dict

In [148]:
len(Snake)

3

In [149]:
df = pd.DataFrame(Snake)
df

       Name  Length  Weight
0  Anaconda     1.0     0.1
1    Python     1.5     0.1
2     Cobra     1.0     0.1
3   Serpent     1.5     0.1

In [150]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [151]:
df.values

array([['Anaconda', 1.0, 0.1],
       ['Python', 1.5, 0.1],
       ['Cobra', 1.0, 0.1],
       ['Serpent', 1.5, 0.1]], dtype=object)

In [152]:
df.columns

Index(['Name', 'Length', 'Weight'], dtype='object')

In [153]:
df["Name"]

0    Anaconda
1      Python
2       Cobra
3     Serpent
Name: Name, dtype: object

In [154]:
df["Length"]

0    1.0
1    1.5
2    1.0
3    1.5
Name: Length, dtype: float64

In [155]:
df["Name"].loc[0]

'Anaconda'

In [156]:
df.loc[0]

Name      Anaconda
Length         1.0
Weight         0.1
Name: 0, dtype: object

In [157]:
df.at[0,"Name"]= "Dinosaur"
df

       Name  Length  Weight
0  Dinosaur     1.0     0.1
1    Python     1.5     0.1
2     Cobra     1.0     0.1
3   Serpent     1.5     0.1

In [158]:
df.at[2,"Length"]= 5.0
df

       Name  Length  Weight
0  Dinosaur     1.0     0.1
1    Python     1.5     0.1
2     Cobra     5.0     0.1
3   Serpent     1.5     0.1

In [159]:
df["Species"] = ["Snake","Snake","Snake","Snake"]
df

       Name  Length  Weight Species
0  Dinosaur     1.0     0.1   Snake
1    Python     1.5     0.1   Snake
2     Cobra     5.0     0.1   Snake
3   Serpent     1.5     0.1   Snake

In [170]:
var1 = {"Name" : "Copper",
		"Length" : 100.0,
		"Weight" : 5.1,
		"Species" : "Reptile",}
type(var1)

dict

In [ ]:
#df=df.append(var1,ignore_index=True)

In [172]:
var1.keys()

dict_keys(['Name', 'Length', 'Weight', 'Species'])

In [173]:
var1.values()

dict_values(['Copper', 100.0, 5.1, 'Reptile'])

In [174]:
pdvar1 = pd.DataFrame([var1]) #https://stackoverflow.com/questions/35797112/creating-a-pandas-dataframe-out-of-a-single-variable-that-contains-a-dict
pdvar1

     Name  Length  Weight  Species
0  Copper   100.0     5.1  Reptile

In [175]:
df

       Name  Length  Weight Species
0  Dinosaur     1.0     0.1   Snake
1    Python     1.5     0.1   Snake
2     Cobra     5.0     0.1   Snake
3   Serpent     1.5     0.1   Snake

In [178]:
df=pd.concat([df,pdvar1],ignore_index=True)
df

       Name  Length  Weight  Species
0  Dinosaur     1.0     0.1    Snake
1    Python     1.5     0.1    Snake
2     Cobra     5.0     0.1    Snake
3   Serpent     1.5     0.1    Snake
4    Copper   100.0     5.1  Reptile

In [179]:
len(df)

5

In [180]:
var3=["Spider",3.0,0.1,"Reptile"]

In [183]:
df.loc[len(df)]=var3

In [184]:
df

       Name  Length  Weight  Species
0  Dinosaur     1.0     0.1    Snake
1    Python     1.5     0.1    Snake
2     Cobra     5.0     0.1    Snake
3   Serpent     1.5     0.1    Snake
4    Copper   100.0     5.1  Reptile
5    Spider     3.0     0.1  Reptile

In [185]:
del df["Species"]

In [186]:
df

       Name  Length  Weight
0  Dinosaur     1.0     0.1
1    Python     1.5     0.1
2     Cobra     5.0     0.1
3   Serpent     1.5     0.1
4    Copper   100.0     5.1
5    Spider     3.0     0.1

In [187]:
df=df.drop(index=0)

In [188]:
df

      Name  Length  Weight
1   Python     1.5     0.1
2    Cobra     5.0     0.1
3  Serpent     1.5     0.1
4   Copper   100.0     5.1
5   Spider     3.0     0.1

## Library Examples

In [ ]:
Book1 = "Mathematics"
Book2 = "Physics"
Book3 = "Chemistry"
duration = 3

In [ ]:
Book1Code = "DD_01"
Book2Code = "DD_02"
Book3Code = "DD_03"

In [ ]:
N_Book1= N_Book2 = N_Book3 = 10

In [ ]:
BookName = [Book1,Book2,Book3]
BookCode = [Book1Code,Book2Code,Book3Code]
N_Book = [N_Book1,N_Book2,N_Book3]

In [ ]:
library = {"BookName":BookName,
		   "BookCode":BookCode,
		   "N_Book":N_Book}

In [ ]:
type(library)

In [ ]:
library["BookName"].append("Biology")
library["BookCode"].append("DD_04")
library["N_Book"].append(15)
print("Book {} has code {} and has {} copies".format(library["BookName"][3],
		library["BookCode"][3],library["N_Book"][3]))

In [ ]:
print(library)

In [ ]:
print("available books:")
print("Book Name \t Book Code \t Number of copies")
for i in range(len(library["BookName"])):
	print("{} \t {} \t         {}".format(library["BookName"][i],library["BookCode"][i],library["N_Book"][i]))

In [ ]:
print("Booking Book Form:")
varName = str(input("Book Name: "))
varCode = str(input("Book Code: "))
for i in range(len(library["BookCode"])):
	if varCode == library["BookCode"][i] and library["N_Book"][i] > 0:
		library["N_Book"][i] -= 1
		print("Booking Success")
		print("Book Duration: {} day".format(duration))
		print("Book {} has code {} and has {} copies".format(library["BookName"][i],
				library["BookCode"][i],library["N_Book"][i]))
		break
	else:
		print("Book not found")
		break

In [ ]:
print(library)

In [ ]:
print("Book Return Form:")
varName = str(input("Book Name\t: "))
varCode = str(input("Book Code\t: "))
varDay = int(input("Book Duration\t: "))
for i in range(len(library["BookCode"])):
	if varCode == library["BookCode"][i] :
		if varDay > duration:
			penalty = (varDay - duration)*1000
			print("Penalty: {}".format(penalty))
		library["N_Book"][i] += 1
		print("Book Return Success")
		print("Book {} has code {} and has {} copies".format(library["BookName"][i],
		library["BookCode"][i],library["N_Book"][i]))
		break
	else:
		print("Book not found")
		break

In [ ]:
def Available_Book():
	print("available books:")
	print("Book Name \t Book Code \t Number of copies")
	for i in range(len(library["BookName"])):
		print("{} \t {} \t         {}".format(library["BookName"][i],library["BookCode"][i],library["N_Book"][i]),end="\n")

In [ ]:
Available_Book()

In [ ]:
def Booking_Book():
	varName = str(input("Book Name: "))
	varCode = str(input("Book Code: "))
	for i in range(len(library["BookCode"])):
		if varCode == library["BookCode"][i] and library["N_Book"][i] > 0:
			library["N_Book"][i] -= 1
			print("Booking Success")
			print("Book Duration: {} day".format(duration))
			print("Book {} has code {} and has {} copies".format(library["BookName"][i],
			library["BookCode"][i],library["N_Book"][i]))
			break
		else:
			print("Book not found")
			break

In [ ]:
Booking_Book()

In [ ]:
Available_Book()

In [ ]:
def Return_Book():
	varName = str(input("Book Name\t: "))
	varCode = str(input("Book Code\t: "))
	varDay = int(input("Book Duration\t: "))
	for i in range(len(library["BookCode"])):
		if varCode == library["BookCode"][i] :
			if varDay > duration:
				penalty = (varDay - duration)*1000
				print("Penalty: {}".format(penalty))
			library["N_Book"][i] += 1
			print("Book Return Success")
			print("Book {} has code {} and has {} copies".format(library["BookName"][i],
			library["BookCode"][i],library["N_Book"][i]))
			break
		else:
			print("Book not found")
			break

In [ ]:
Return_Book()

In [ ]:
Available_Book()

In [ ]:
def Add_Book(varName,varCode,varN):
	for i in range(len(library["BookCode"])):
		if varCode == library["BookCode"][i]:
			library["N_Book"][i] += varN
			break
	else:
		library["BookName"].append(varName)
		library["BookCode"].append(varCode)
		library["N_Book"].append(varN)
		print("Book added")
	Available_Book()

In [ ]:
Add_Book("Physics","DD_04",15)

In [ ]:
library